---
import Layout from '../layouts/Layout.astro';
import CtaBanner from '../components/CtaBanner.astro';
import GhlForm from '../components/GhlForm.astro';
import PageHero from '../components/PageHero.astro';
---

<Layout title="Free Health Insurance Marketplace Quote | Johnny Watts Agency" description="Get a free ACA Health Insurance Marketplace quote. Our specialists help you find affordable plans that fit your budget and healthcare needs in North Carolina.">
  <PageHero title="Health Marketplace Quote" waveFill="#f3f4f6" />
  <section class="pt-4 pb-16">
    <div class="max-w-xl mx-auto px-4">
      <div class="bg-gray-light rounded-xl p-6 md:p-8">
        <GhlForm formId="8pfUmznsvnCLzJLuUw7p" formName="Health Insurance Marketing Services Quote" height={887} heading="Health Insurance Marketplace Quote" description="Please complete the form below and one of our agents will be in touch shortly." />
      </div>
    </div>
  </section>
  <CtaBanner waveFill="#f3f4f6" />

</Layout>
